<div id="map-canvas"></div>
	<div class="main row">
	 	<div class="container">
		 	<div class="grids_of_4 row">
		 	 	<% @cities.each do |city|%>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a><%= link_to image_tag(city.image_url, :class => "img-responsive")%></a>
						</div>
						 <h3><a><%=link_to city.name , city_path(city), 'data-no-turbolink' => true%></a></h3>
					</div>
				<%end%>
				</div>
				<div class="clear"></div>
			</div>
	</div>
</div>
<script type="text/javascript">
	var map_config = {
						center: {
							lat: 37.09,
							lng: -95.71
						}, 
						zoom: 4
					 };
	var cityNamesArr = <%= raw @city_names %>;
	
	makeMap(map_config,'map-canvas', cityNamesArr);
	// citiesLntLng(cityNamesArr);
	console.log ("array of cities", cityNamesArr);
</script>

