
<div class="container">
<div id="map-container">
<div id='map-canvas'></div>
</div>
</div>
	<div class="main row">
	 	<h2 class="style">Cities</h2>
		 	<div class="grids_of_4 row">
		 	 	<% @cities.each do |city|%>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a><%= link_to image_tag(city.image_url, :class => "img-responsive"), city.id.to_s%></a>
						</div>
						 <h3><a><%=link_to city.name , city_path(city)%></a></h3>
					</div>
				<%end%>
				<div class="clear"></div>
			</div>
	</div>
</div>

<script type="text/javascript">
	var map_config = {
						center: {
							lat: 37.09,
							lng: -95.71
						}, 
						zoom: 4
					 }
	makeMap('map-canvas', map_config);
	var cityNamesArr = <%= raw @city_names
	 %>;
	citiesLntLng(cityNamesArr);
	console.log ("array of cities", cityNamesArr);
	// markerPush(cityNamesArr);
</script>

