<div>
	<h1><%= @city.name%></h1>
</div>

<div>
  <% @city.events.each do |event| %>
  	<div class='list-group'>
  	 <p> <%= link_to event.name, event_path(event)%> Filled: <%= event.current_headcount%>/<%= event.max_headcount%></p> <br>
</div>

<% end %>
