#event-container {
   height: 150px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-bottom: 25px;
   border-width: 7px;
 }
 
 #event-map {
   height: 384px;
   width: 100%;
 }

#event-container #event-map img {
  max-width: none;
}

/* Bootstrap Css Map Fix*/
#event-container #event-map label {
  width: auto; display:inline;
   margin-top: 25px;
   margin-right: 20px;
   margin-left: 20px;
   border-width: 7px;
}

.fa-user {
	width: 100%
}

.page-container {
   padding-bottom: 90px;
   padding-right: 50px;
   padding-left: 50px;
}

.list-group {
   font-size:15px;
   font-weight:normal;
}

